@charset "utf-8";

body {
    font-family: "맑은 고딕", sans-serif;
    background: url(images/bg.jpg) repeat-x;
    font-size:  medium;
}

header#top {
    background: #fff url(images/bg2.png)
    no-repeat right top;
    border-bottom: thick solid #030;
    color: 	#036;
    margin:  10px 0px;
    padding: 10px 20px;
}

header#top h1 {
    padding-top:  20px;
    color: #036;
}

section#contents {
    border: 1px dotted #030;
    padding: 10px;
}

section#contents header h3 {
    border-bottom: 1px dotted #666;
    padding-bottom: 8px;
}

nav#mainNav {
    /*	border: 1px solid;	*/
    text-align: right;
    padding: 0px 10px;
}

nav#mainNav ul {
    list-style: none;
    margin: 5px;
}

nav#mainNav ul li {
    display: inline;
    padding: 0px 15px;
}

nav#mainNav ul li a {
    text-decoration: none;
    font: bold 120% "돋움", sans-serif;
    color: #333;
}

nav#mainNav ul li a:hover {
    background-color: yellow;
    color: #03c;
}

article h4 {
    font-family: "굴림", sans-serif;
    color: #444;
    margin-top: 40px;
    margin-bottom: 0px;
}